// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$red-medium: #FF4F5A;
$red-light: #dc3545;
$orange: #f6993f;
$yellow: #ffed4a;
$yellow-dark: #ffd500;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #BCE2FF;
$white: #ffffff;
$black: #000000;
$black-light: #213547;
$blue-middle: #1f6fb2;
$blue-solid: #36a9ff;
$grey: #777777;
$grey-light: rgba(198, 198, 198, 0.52);
$grey-disable: #DADADA;
$light-grey: #f5f5f5;
$grey-medium: #6A6A6A;
$blue-dark: #1b4379;
$blue-medium: #007EDC;
$blue-light: #ddf0ff;