#cards {
  display: flex;
  justify-content: center;
  margin-left: 0!important;
  .card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
    min-height: 145px;
    background: $grey-light;
    margin: 12px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid $grey-light;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    cursor: pointer;
    &:hover {
      background: $light-grey;
      border: 1px solid $grey-medium;
    }
    .title, .pre-title {
      font-size: 16px;
      color: $grey-medium;
      margin-bottom: 5px;
    }
    .description {
      font-size: 22px;
      color: $grey-medium;
      margin-bottom: 5px;
    }
    .second-description {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 243px;
      color: $black;
      img {
        margin-right: 5px;
      }
    }
  }
  .card-wrapper.not-available {
    background: $red-light;
    opacity: 0.8;
    &:hover {
      cursor: unset;
      border: 1px solid $grey-light;
    }
    .title,.pre-title,.description,.second-description {
      color: white;
    }
    .second-description img {
      color: $white;
    }
  }
}