.tabs-filter {
  display: flex;
  .tab {
    padding: 15px 20px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    &:hover {
      cursor: pointer;
    }
  }
  .selected {
    border: 1px solid $grey-medium;
    border-radius: 4px;
    color: $blue-medium;
  }
}